.item-request-type {
  .fileInput {
    height: 0px;
    width: 0px;
  }

  &:hover {
    cursor: pointer;
  }

  .item-request-type-head {
    flex: 1 1 auto;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto !important;
    max-width: 40%;
    padding: 1rem 0;

    img {
      width: 100%;
      height: 100%;
      margin: auto;
      object-fit: contain;
      justify-content: center;
      display: flex;
      align-items: center;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  p {
  }
}

.selected {

  border: 3px solid green !important;
}

.object-appointment {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.container-appointment-form {

  .container-appointment-form-row {
    height: inherit;
    margin: 0;
    flex: 1;
  }
}

.appointment-title {
  h3 {
    color: var(--primaryColor);
    font-size: 25px;
    margin: 0 0 1rem;
  }
}


/*
.object-appointment {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 0.9;
  width: 90%;
  margin: 3rem auto;
}

.appointment-title {
  h3 {
    color: var(--primaryColor);
    font-size: var(--font-size-title);
    margin: 0 0 1rem;
    text-align: center;
  }
}

.container-appointment-form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;

  .el-row {
    width: 100vw;
  }

  .container-appointment-illustrator {
    padding: 0 !important;
    height: 100%;

    .illustrator {
      margin: 0;
      padding: 0;
      background-image: url("/src/assets/imgs/others/map.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 100%;
    }
  }

  .container-object-appointment {
    padding: 0 !important;
    height: 130%;
    margin-top: 10px;
    margin-bottom: 20px;

    .content-object-appointment {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;

      .item-object-appointment {
        background: var(--primary200Color);
        border-radius: 20px;
        padding: 0.5rem;
        cursor: pointer;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-shadow: var(--primary200Color) 0 0 6px;
        border: 1px solid #e0ecce;
        transition: .5s all;

        &.radioActive {
          transition: .5s all;

          .label-radio {
          }

          .radio {
            border-color: #FFF !important;
            background: var(--primaryColor);
            transition: .5s all;
          }
        }

        .label-radio {
          color: var(--primaryTextColor);
          font-size: 21px;
        }

        .radio {
          padding: 1px;
          border-radius: 100px;
          transition: .5s all;
          width: 30px;
          height: 30px;
          border: 3px solid var(--primary300Color);
          margin-right: 1rem;
          background: #FFF;
        }
      }

      .btn-start {
        border-radius: var(--radius-btn);
        display: flex;
        flex-direction: row;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
        padding: 0.3rem 18px;
        width: 90%;
        //height: 100%;

        .label-btn {
          flex: 1;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 22px;
        }

        .el-button {
          width: auto;
          border-color: transparent !important;
        }
      }
    }
  }

}


.app-m-0 {
  margin: 0 !important;
}
*/
